#contact{
    background-color: #F25CA2;
    padding: 5% 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-box{
    background-color: #ffffff;
    border: 1px solid #0433BF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.contact-side{
    margin: 5%;
    width: 50%;
}

.contact-title{
    font-size: 2em;
    margin-bottom: 3%;
}

.contactame-descrip{
    margin-bottom: 10%;
}

.social-red{
    display: flex;
    align-items: center;
}

.social-red img{
    width: 30px;
    margin: 5px 15px;
}

.social-red img:hover{
    background-color: #F25CA2;
    color: white;
    padding: 2px;
    border-radius: 200px;
}

.social-red:hover .social-red a p{
    color: #F25CA2;
}

.social-red:hover .social-red img{
    background-color: #F25CA2;
    color: #F25CA2;
}

.escribime-row{
    display: flex;  
    justify-content: space-between; 
}

.escribime label{
    padding-bottom: 5px;
}

.info-case{
    display: flex;
    flex-direction: column;
}

.info-case, .info-case{
    width: 100%;
    padding: 6px;
    margin: 10px 0;
}

.info-case input, .info-case textarea{
    padding: 6px;
    border:0;
    border-bottom: 1px solid #F25CA2; 
}

.info-case input:hover, .info-case textarea:hover, .info-case input:focus, .info-case textarea:focus{
    box-shadow: 0px 0px 17px 1px rgba(242,92,162,1);
    outline: none;
}

.escribime-button button{
    text-decoration: none;
    background-color: #0433BF;
    color: white;
    padding: 2% 0;
    border-radius: 25px;
    margin-top: 4%;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0px 0px 52px -17px rgba(0,0,0,1);
    border: none;
    width: 200px;
}

.escribime-button button:hover{
    color: #021859;
    background-color: #F25CA2;
    cursor: pointer;
}

@media(min-width: 670px){
    #contact{
        padding-top: 10%;
        padding-bottom: 8%;
    }

    .contact-box{
        flex-direction: row;
    }

    .contactame{
        width: 50%;
    }

    .escribime{
        width: 50%;
    }
}
