:root{
    --pink: #F25CA2;
    --blue: #0433BF;
}

#contact{
    background-color: var(--pink);
    padding: 5% 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-box{
    background-color: #ffffff;
    border: 1px solid var(--blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.contact-side{
    padding: 5%;
    width: 90%;
}

.contact-title{
    font-size: 2em;
    margin-bottom: 3%;
}

.contactame-descrip{
    margin-bottom: 10%;
}

.social-red{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    -webkit-transition: font-size 1s ease;
    transition: font-size 1s ease;
}

.social-red i{
    font-size: 1em;
    margin: 2% 4%;
}

.social-red:hover{
    font-size: 15px;
}

.social-red i:hover{
    background-color: var(--pink);
    color: white;
    padding: 2px;
    border-radius: 200px;
}

.social-red p:hover{
    color: var(--pink);
}

.social-red:hover .icono{
    /* color: #F25CA2; */
    background-color:var(--pink);
    color: #ffffff;
    border-radius: 100%;
    padding: 5px;
}

.social-red:hover .social-name{
    color: var(--pink);
}

.escribime-row{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.escribime label{
    padding-bottom: 5px;
}

.info-case{
    display: flex;
    flex-direction: column;
}

.info-case, .info-case{
    width: 100%;
    padding: 6px;
    margin: 10px 0;
}

.info-case input, .info-case textarea{
    padding: 6px;
    border:0;
    border-bottom: 1px solid var(--pink); 
}

.info-case input:hover, .info-case textarea:hover, .info-case input:focus, .info-case textarea:focus{
    box-shadow: 0px 0px 17px 1px var(--pink);
    outline: none;
}

.escribime-button button{
    text-decoration: none;
    background-color: var(--blue);
    color: white;
    padding: 2% 0;
    border-radius: 25px;
    margin-top: 4%;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0px 0px 52px -17px rgba(0,0,0,1);
    border: none;
    width: 200px;
}

.escribime-button button:hover{
    color: #021859;
    background-color: var(--pink);
    cursor: pointer;
}

.escribime-button button:focus{
    outline: none;
}

@media(min-width: 1000px){
    #contact{
        padding-top: 10%;
        padding-bottom: 8%;
    }

    .contact-box{
        flex-direction: row;
    }

    .contactame{
        width: 50%;
        padding: 3%;
    }

    .escribime{
        width: 50%;
        padding: 3%;
    }

    .contact-side{
        margin: 5%;
        width: 50%;
    }

    .escribime-row{
        flex-direction: row;
    }
}
