footer{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav{
    display: none;
}

footer nav a{
    text-decoration: none;
    color: #0433BF;
    font-weight: 700;
    margin: 0 10px;
}

footer nav a:hover{
    color: #F25CA2;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
}

.footer-social{
    display: flex;
}

.footer-social a i{
    width: 30px;
    padding: 20px 0;
    margin: 0 10px;
    color: #0433BF;
    font-size: 2em;
}

.footer-social a i:hover{
    opacity: 0.6;
}

.firm{
    display: flex;
}

.firm p{
    padding-right: 10px;
    font-weight: bold;
    color: #0433BF;
    padding-top: 5px;
}


@media(min-width:670px){
    footer{
        padding: 20px;
    }
    
    .nav a{
        font-size: 20px;
    }

    .footer-social a i{
        width: 60px;
        padding: 20px 10px;
    }

    .nav{
        display: flex;
    }
}