:root{
    --pink: #F25CA2;
    --blue: #0433BF;
}

.footer{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav{
    display: none;
}

.footer nav a{
    text-decoration: none;
    color: var(--blue);
    font-weight: 700;
    margin: 0 10px;
}

.footer nav a:hover{
    color: var(--pink);
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
}

.footer-social{
    display: flex;
}

.footer-social a i{
    width: 30px;
    padding: 20px 0;
    margin: 0 10px;
    color: var(--blue);
    font-size: 2em;
}

.footer-social a i:hover{
    opacity: 0.6;
    color: var(--pink);
}

.firm{
    display: flex;
}

.firm p{
    padding-right: 10px;
    font-weight: bold;
    color: var(--blue);
    padding-top: 5px;
}


@media(min-width:670px){
    .footer{
        padding: 20px;
    }
    
    .nav a{
        font-size: 20px;
    }

    .footer-social a i{
        width: 60px;
        padding: 20px 10px;
    }

    .nav{
        display: flex;
    }
}