#hello{
    height: 90vh;
    /* background-color: teal; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.intro{
    /* border: 1px solid black; */
    width: 600px;
    /* margin: 50px; */
    padding: 45px;
}

h2{
    font-size: 30px;
}

h1{
    font-size: 50px;
    color: #F25CA2;
    padding: 20px 0px;
}

figure img{
    width: 600px;
    margin: 40px;
    /* border: 1px solid black; */
}

#hello .intro button{
    background-color: #0433BF;
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    margin: 30px 0px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 52px -17px rgba(0,0,0,1);
    border: none;
}

#hello .intro button:hover{
    color: #021859;
    background-color: #F25CA2;
    cursor: pointer;
}