:root{
    --pink: #F25CA2;
    --blue: #0433BF;
}

#hello{
    background-color:#F6F7FC;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello-box{
    display: flex;
    flex-direction: column;
    width: 88%;
    justify-content: center;
    align-items: center;
}

.intro-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
    font-size: 20px;
    text-align: center;
}

.intro-image{
    margin: 5% 0 5% 5%;
}

.intro-image img{
    width: 90%;
}

.intro-name{
    font-size: 3em;
    color: var(--pink);
    padding: 2% 0;
    text-align: center;
}

.intro-button{
    background-color: var(--blue);
    color: white;
    padding: 2% 0;
    border-radius: 25px;
    margin-top: 4%;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0px 0px 52px -17px rgba(0,0,0,1);
    border: none;
    width: 200px;
    text-align: center;
}

.intro-button-link{
    text-decoration: none;
}

.intro-button:hover{
    color: #021859;
    background-color: var(--pink);
    cursor: pointer;
    text-decoration: none;
}

.intro-button-link:hover{
    text-decoration: none;
}

@media(min-width: 1000px){
    .hello-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .intro-box{
        width: 60%;
        align-items: flex-start;
    }

    .intro-image img{
        width: 90%;
    }

    .intro-title{
        font-size: 2em;
    }

    .intro-name{
        font-size: 4em;
        text-align: left;
    }

    .intro-button{
        width: 300px;
    }
}

@media screen and (orientation:landscape)
and (min-device-width: 500px){
   .hello-box{
       flex-direction: row;
   }

   .intro-box{
       font-size: 15px;
   }
}