#know{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18% 4%;
    /* height: 80vh; */
}

.know-title{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 3%;
}

.know-descrip{
    width: 50%;
    text-align: center;
    margin-bottom: 5%;
}

.know-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.know-icon{
    border: 1px solid #0433BF;
    border-radius: 10px;
    margin: 10px;
    width: 170px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(242,92,162,1) 0%, rgba(11,158,217,1) 51%, rgba(4,51,191,1) 100%);
}

.know-icon img{
    width: 100px;
    margin-bottom: 10px;
}

.know-icon span{
    font-weight: 800;
}

@media(min-width: 670px){
    #know{
        padding-top: 10%;
        padding-bottom: 8%;
    }
    
    .know-icon{
        width: 200px;
        height: 280px;
    }

    .know-icon img{
        width: 130px;
    }

    .know-title{
        font-size: 3em;
    }

    .know-descrip{
        width: 30%;
        font-size: 20px;
    }
}
