:root{
    --pink: #F25CA2;
    --blue: #0433BF;
}

#proyects{
    padding: 18% 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyect-title{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 3%;
}

.proyect-descrip{
    width: 60%;
    text-align: center;
    margin-bottom: 5%;
}

.proyect-box{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}

.proyect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blue);
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(242,92,162,1) 0%, rgba(11,158,217,1) 51%, rgba(4,51,191,1) 100%);
    margin: 3%;
    padding: 5%;
    /* width: 90%; */
    height: 300px;
}

.proyect figure img{
    width: 100%;
    margin-bottom: 20px;
}

.proyect-box a{
    text-decoration: none;
    margin: 5px;
}

.proyect-box a:hover{
    opacity: 0.8;
}

.proyect figcaption{
    color: black;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}

.proyect figcaption:hover{
    text-decoration: underline wavy #0433BF;
}

@media(min-width:670px){
    #proyects{
        padding-top: 10%;
        padding-bottom: 8%;
    }

    .proyect-title{
        font-size: 3em;
        text-align: center;
    }

    .proyect-descrip{
        font-size: 20px;
    }

    .proyect{
        width: 350px;
    }
    .proyect figure img{
        width: 100%;
    }
}
